<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


      {# Bootstrap Material Design #}
       <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-material-design.min.css' %}"> -->
     <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/ripples.min.css' %}"> -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
      {# jQuery #}
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
     {% block css %}
  {% endblock %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} MyBlog {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MyBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Settings</a>
    </div>
  </div>
</nav>

<div id="header">
    {% block header %}{% endblock %}
</div>
<div id="content">
    {% block content %}
        This is insane!
    {% endblock %}
</div>

{# Bootstrap Material Design #}
  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- Material Design for Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>
<script>
    new WOW().init();
  </script>
  {% block js %}
  {% endblock %}

</body>
</html>


